<div class="row header mx-2">
  <div class="col-auto mr-auto heading">
    <h4>Panel de control</h4>
    <span>Te presentamos un resumen de los registros</span>
  </div>
</div>
<div class="row">
  <div class="card-deck stats justify-content-center w-100">
    <div class="card text-center">
      <ngx-ui-loader [loaderId]="'departamentos-loader'"></ngx-ui-loader>
      <div class="card-body">
        <h5 class="card-title">Departamentos</h5>
        <p class="card-text">{{ departamentos.length }}</p>
      </div>
    </div>
    <div class="card text-center">
      <ngx-ui-loader [loaderId]="'supervisores-loader'"></ngx-ui-loader>
      <div class="card-body">
        <h5 class="card-title">Supervisores</h5>
        <p class="card-text">{{ supervisores.length }}</p>
      </div>
    </div>
    <div class="card text-center">
      <ngx-ui-loader [loaderId]="'empleados-loader'"></ngx-ui-loader>
      <div class="card-body">
        <h5 class="card-title">Empleados</h5>
        <p class="card-text">{{ empleados.length }}</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row h-100">
      <div class="justify-content-center w-100 score">
        <div class="card h-100 text-center">
          <ngx-ui-loader [loaderId]="'status-loader'"></ngx-ui-loader>
          <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <div
              *ngIf="pieStatusL.data.length"
              class="status-chart"
            >
              <canvas
                [chartType]="pieStatusL.chartType"
                [colors]="pieStatusL.colors"
                [data]="pieStatusL.data"
                [labels]="pieStatusL.label"
                [legend]="pieStatusL.legends"
                [options]="pieStatusL.options"
                [plugins]="pieStatusL.plugins"
                baseChart
              >
              </canvas>
            </div>
            <div *ngIf="!pieStatusL.data.length">
              <span class="empty-chart-icon">
                <i class="fab fa-creative-commons-zero"></i>
              </span>
              <p class="card-text">
                <small class="text-muted">No existen datos relacionados</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
