<ngx-ui-loader></ngx-ui-loader>
<div>
  <nav class="navbar navbar-expand fixed-top navbar-light bg-white">
    <a
      [routerLink]="['/admin/workflow/dashboard']"
      class="navbar-brand"
      id="home-btn"
      ><img
        alt="Ejemploo"
        class="isoNav img-responsive float-left"
        src="assets/img/Logos/angular.png"
    /></a>
    <a
      [routerLink]="['/admin/workflow/dashboard']"
      class="navbar-brand"
      id="home-btn-responsive"
      ><img
        alt="Ejemplo"
        class="logoNav img-responsive expanded"
        src="assets/img/Logos/angular_logo.png"
    /></a>
    <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"
      ><span class="navbar-toggler-icon"></span
    ></a>
    <button
      aria-controls="navbarsExample02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-target="#navbarsExample02"
      data-toggle="collapse"
      id="btn-toggler"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <button
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler custom-toggler"
      data-target="#navbarNavDropdown"
      data-toggle="collapse"
      id="toggler-btn"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse text-right" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <div class="row align-items-center">
          <div class="col-auto user-info text-right">
            <p class="user-name">{{ userName }}</p>
          </div>
          <div class="col text-center user-image">
            <img
              alt="User logo placeholder"
              class="user-placeholder"
              src="{{ userPlaceholderImg }}"
            />
            <div class="centered-initials">{{ userInitials }}</div>
          </div>
          <div class="col">
            <div class="dropdown show">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                class="user-menu"
                data-offset="1"
                data-toggle="dropdown"
                href=""
                id="menu-btn"
                id="dropdownMenuLink"
                role="button"
              >
                <i class="fas fa-angle-down"></i>
              </a>

              <div
                aria-labelledby="dropdownMenuLink"
                class="dropdown-menu dropdown-menu-right menu-box"
              >
                <div class="dropdown-divider" style="display: none"></div>
                <a (click)="logOut()" class="dropdown-item" id="logout-btn"
                  >Cerrar Sesión</a
                >
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </nav>
  <div class="toggled" id="wrapper">
    <div id="sidebar-wrapper">
      <div>
        <h6 class="expanded">MENÚ PRINCIPAL</h6>
        <ul class="sidebar-nav">
          <li>
            <a
              [routerLink]="['/admin/workflow/dashboard']"
              id="dashboard-btn"
              routerLinkActive="router-link-active"
              ><i class="fas fa-tachometer-alt"></i>
              <div class="expanded">Panel de control</div>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/admin/workflow/empleado']"
              id="dashboard-btn"
              routerLinkActive="router-link-active"
              ><i class="fas fa-user-friends"></i>
              <div class="expanded">Empleados</div>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/admin/workflow/supervisor']"
              id="dashboard-btn"
              routerLinkActive="router-link-active"
              ><i class="fas fa-id-card-alt"></i>
              <div class="expanded">Supervisores</div>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/admin/workflow/departamento']"
              id="dashboard-btn"
              routerLinkActive="router-link-active"
              ><i class="fas fa-house-user"></i>
              <div class="expanded">Departamentos</div>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/admin/workflow/mapas']"
              id="dashboard-btn"
              routerLinkActive="router-link-active"
              ><i class="fas fa-house-user"></i>
              <div class="expanded">mapas</div>
            </a>
          </li>

          <li>
            <a
              [routerLink]="['/admin/workflow/reporte']"
              id="dashboard-btn"
              routerLinkActive="router-link-active"
              ><i class="fas fa-chart-pie"></i>
              <div class="expanded">Reportes</div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="page-content-wrapper">
      <div class="container-fluid viewPort">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="loader-container">
      <ngx-ui-loader [loaderId]="'workflow-loader'"></ngx-ui-loader>
    </div>
  </div>
</div>
