$almost-black: #0a0a0b;
.navbar {
  padding-right: 3rem;
  z-index: 1000;
}

.navbar-brand {
  margin-left: -.65rem;
}

.isoNav {
  // display: none;
  width: 35px;
}

button {
  border-radius: 5px !important;
  height: 40px;
}

.router-link-active {
  color: #463d6e !important;
  background: #dbd8e3;
}

a.nav-link,
button.btn.btn-outline-primary {
  font-size: 1rem;
  display: inline-block;
  color: #3d3769 !important;
}

.fa-sign-out-alt {
  position: relative;
}

.user-placeholder {
  border-radius: 50px;
}

.bg-white {
  background-color: white !important;
  border: solid 1px #f1f1f1;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(61, 55, 105) !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(61,55,105, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media (max-width: 1635px) {
  a.nav-link {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    padding-left: initial;
  }
  /*  .logoNav {
      display: none;
  }
  .isoNav {
      display: block;
  }*/
  .nav-item > button {
    margin-top: .5rem;
    position: relative;
    left: -10px;
  }
}

@media (max-width: 414px) {
  .navbar-nav {
    align-items: flex-end !important;
  }
  .navbar {
    padding: 1rem 1.5rem !important;
  }
  .nav-link {
    padding-right: 0 !important;
  }
}

#wrapper {
  overflow: hidden;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
}

#wrapper.toggled {
  padding-right: 225px;
}

.user-name {
  display: inline-block;
  height: 16px;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  text-align: right;
  color: $almost-black;
  margin: 0;
  white-space: nowrap;
  overflow: hidden
}

.user-info,
.user-image {
  padding: 0;
  vertical-align: middle;
}

.user-info {
  padding-right: 0.75rem;
}

.user-image {
  position: relative;
  text-align: center;
  min-width: 40px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  border: solid 1px #f1f1f1;
  background-color: #fff;
  z-index: 2;
  display: none;
}

.user-menu {
  color: $almost-black;
  font-size: 18px;
}

.centered-initials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #463d6e;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
}

.institution-name {
  // width: 138px;
  height: 14px;
  opacity: 0.49;
  font-family: Roboto-Regular, sans-serif;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  color: $almost-black;
  margin: 0;
}

.menu-box {
  width: 200px;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;

  a {
    padding: .45rem 1.5rem;
  }
}

.footer-separators {
  opacity: 0.3;
  color: #423d72;
  padding: 0 1.25rem;
}

.copy-text {
  opacity: 0.4;
  font-family: Roboto-Regular, sans-serif;
  font-size: 12px;
  color: #443d70;
}

.footer-links {
  margin-right: 2.5%;
}

.footer-links > a {
  font-family: Roboto-Regular, sans-serif;
  font-size: 12px;
  color: #443d70;
}

#sidebar-wrapper {
  z-index: 4;
  position: fixed;
  top: 61px;
  width: 66px;
  margin-right: -250px;
  overflow-y: scroll;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-height: 90%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 225px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#page-content-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  padding: 15px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.viewPort {
  padding-top: 0;
  padding-bottom: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.viewPort::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: 225px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#page-content-wrapper.dynamic-container {
  position: relative;
  padding-right: 0;
  margin-right: 0;
  width: 95%;
  left: 3.6vw;
  top: -7px;
  /// overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#page-content-wrapper::-webkit-scrollbar, #wrapper.toggled #page-content-wrapper::-webkit-scrollbar, #page-content-wrapper.dynamic-container::-webkit-scrollbar {
  display: none;
}

/* Sidebar Styles */

.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    line-height: 50px;
  }
}

#sidebar-wrapper {
  h6 {
    padding-left: 17px;
    margin-top: 20px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #b5b1c5;
  }
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;
  border-radius: 5px;
  margin: 10px 14px;
  height: 34px;

  i {
    font-size: 18px;
    padding: 0 10px;
    margin-right: 5px;
    min-width: 40px;
    text-align: center;
  }
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active {
  text-decoration: none;
  color: #463d6e;
  background: #dbd8e3;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.toggled .loader-container {
  position: fixed;
  left: 14rem;
  top: 4.4rem;
  width: 100%;
  height: 100.6%;
  z-index: 1060;
  pointer-events: none;
}

.loader-container {
  position: fixed;
  left: 4.2rem;
  top: 3.9rem;
  width: 100%;
  height: 100.6%;
  z-index: 1060;
  pointer-events: none !important;
}

#wrapper {
  //  overflow: hidden;
}

@media screen and (max-width: 2000px) {
  #wrapper {
    width: 100%;
  }
  .toggled .loader-container {
    width: 88.5%;
    left: 14rem;
    top: 4.4rem;
  }
  .loader-container {
    top: 3.9rem;
    left: 4.2rem;
    width: 100%;
  }


}
@media screen and (min-height: 716px) {
  #sidebar-wrapper {
    min-height: -webkit-fill-available;
    min-height: 100%;

  }
}

@media screen and (max-height: 715px) {
  #sidebar-wrapper {
    min-height: 90%;
  }
}




@media screen and (max-width: 1540px) {
  .toggled .loader-container {
    left: 14rem;
    width: 83.5%;
    top: 4.4rem;
  }
  .loader-container {
    left: 4.2rem;
    top: 3.9rem;
    width: 100%;
  }
  .dynamic-container .viewPort {
    margin-left: 1rem;
  }
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-right: 225px;
  }
  #sidebar-wrapper {
    width: 66px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 225px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    margin-bottom: 5rem;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    width: 100%;
  }
}
