@import "~@ng-select/ng-select/themes/default.theme.css";
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/buttons';
@import 'scss/components';
@import 'scss/login';

.inputGroup-wizard {
  display: flex;
  position: relative;
}

.closeIconContainer-wizard {
  margin-left: -22px;
  margin-top: 7px;
}

.clearWrapper-wizard {
  cursor: pointer;
  position: relative;
  width: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearBtn-wizard {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  pointer-events: none;
  color: #999;
}

body {
  background-color: $background;
  position: relative;
}

ng-select.strech {
  .ng-dropdown-panel {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    width: auto !important;
    border-top-right-radius: 4px;
  }
}

span.ng-option-label, .ng-option>span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;
}

.ng-placeholder {
  color: $almost-black !important;
  opacity: 0.3;
}

.form-control.is-changed {
  border: solid 2px $touched;
  background-image: none;
  opacity: 1;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border: solid 2px $success;
  background-image: none;
  opacity: 1;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border: solid 2px $danger;
  background-image: none;
  opacity: 1;
}

.was-validated .custom-select:valid,
.custom-select.is-valid {
  border: solid 2px $success;
  background-image: none;
  opacity: 1;
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border: solid 2px $danger;
  background-image: none;
  opacity: 1;
}

.font-color-success {
  color: $success;
}

.font-color-changed {
  color: $touched;
  cursor: pointer;
}

.font-color-error {
  color: $danger;
  display: block;
}

.fiel-validate {
  display: flex;
  flex-direction: row;

  .field {
    width: 100%;
  }

  .icon-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1rem;
    height: 40px;
    margin-left: 12px;
    top: 0;
  }
}

ng-select.ng-input.ng-invalid.ng-touched .ng-select-container,
ng-select.ng-activate.ng-invalid.ng-touched .ng-select-container{
  border: solid 2px $danger;
  opacity: 1;
}

ng-select.ng-input.is-changed.ng-touched .ng-select-container,
ng-select.ng-activate.is-changed.ng-touched .ng-select-container{
  border: solid 2px #3394f5;
  opacity: 1;
}

ng-select.ng-input.ng-valid.ng-touched .ng-select-container,
ng-select.ng-activate.ng-valid.ng-touched .ng-select-container{
  border: solid 2px $success;
  opacity: 1;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  position: static !important;
}

.tooltip-danger .tooltip-inner {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #721c24;
}

.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #f00 !important;
}

.dropdown-item:active {
  background-color: #e1deea !important;
}
