.login-form-group > .btn {
  font-family: Roboto-Bold;
  font-size: 18px;
}

.btn-primary,
.btn-primary:disabled,
.btn-primary:focus {
  border-radius: 4px;
  border: solid 1px $primary-button;
  background-color: $primary-button;
}

.btn-primary:hover:enabled {
  background-color: white;
  border-color: $primary-button;
  color: $primary-button;
}

.btn-primary:active {
  color: white !important;
  background-color: $primary-button !important;
  border-color: $primary-button !important;
}

.btn-outline-green {
  border-radius: 4px;
  border: solid 1px $primary-button;
  background-color: transparent;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: $primary-button !important;

  a {
    color: $primary-button !important;
    text-decoration: none !important;
  }
}
.btn-outline-green-ref {
  border-radius: 4px;
  border: solid 1px #4a427f;
  background-color: transparent;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #4a427f !important;

  a {
    color: $primary-button !important;
    text-decoration: none !important;
  }
}
.btn-outline-green-refas {
  border-radius: 4px;
  border: solid 1px #4a427f;
  background-color:#4a427f  ;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #4a427f !important;

  a {
    color: $primary-button !important;
    text-decoration: none !important;
  }
}
.btn-outline-green.btn-green:hover:enabled {
  border-radius: 4px;
  border: solid 1px $primary-button;
  background-color: transparent;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: $primary-button !important;

  a {
    color: $primary-button !important;
    text-decoration: none !important;
  }
}

.invoice-btn {
  border-radius: 3px;
  font-size: 10px;
}

.invoice-btn:hover {
  background-color: $primary-button;
  color: white !important;
}

.btn-green {
  width: 250px;
  height: 42px;
  border-radius: 4px;
  border: solid 1px $primary-button;
  background-color: $primary-button;
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: center;
  color: white;
}

.btn-green:hover:enabled {
  border-radius: 4px;
  border: solid 1px $primary-button;
  background-color: white;
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: center;
  color: $primary-button;
}

.btn-green:hover:disabled,
.btn-primary:disabled {
  color: white;
  cursor: not-allowed;
}

.btn-outline-green:disabled {
  color: white;
  font-size: 14px;
  pointer-events: none !important;

  a {
    color: $primary-button;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.btn-outline-green.btn-green:disabled:hover {
  cursor: not-allowed !important;
  pointer-events: none !important;

  a {
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.invoice-btn:disabled {
  font-size: 10px;
  cursor: not-allowed;
}

.btn-clear {
  border: solid 1px transparent;
  background-color: transparent;
  color: $primary-button;
  width: 7rem;
}
.btn-clear-ref {
  border: solid 1px transparent;
  background-color: transparent;
  color: #4a427f;
  width: 7rem;
}
.btn-clear:hover {
  color: $tertiary-button;
}
.btn-close-ref{
  padding: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 35px;
  font-size: 20px;
  font-family: Roboto-Regular;

}
.btn-pdf-ref{
  padding: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 35px;
  padding: 0px 0px 0px 200px;
  font-size: 50px;
  font-family: Roboto-Regular;

}
.btn-tertiary {
  border-radius: 4px;
  font-size: 16px;
  background-color: $tertiary-button;
  font-family: Roboto-Medium;
  text-align: center;
  color: $primary-button;
}

.btn-tertiary:hover:disabled {
  color: $primary-button;
  cursor: not-allowed;
}

.btn-tertiary:hover:enabled {
  background-color: $primary-button;
  color: $white;
}

.btn-table {
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: white;
  font-family: Roboto-Regular;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a0a0b;
  width: 8rem;
}

.btn-all {
  border-radius: 4px;
  background-color: #f4f3f5;
  height: 40px;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #463d6e;
}

.btn-all:hover {
  background-color: #463d6e;
  color: white;
}

.btn-download {
  margin-left: 3vw;
  padding-top: .75rem;
  width: 13rem;
  height: 3rem;
  font-family: Roboto-Regular;
  color: $selected-icon !important;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px $confirmation-alert-background;
  background-color: white;
}

.btn-download:hover {
  color: white !important;
  background-color: $selected-icon;
}

.btn-download-docs {
  align-items: center;
  width: 360px;
  height: 78px;
  border-radius: 4px;
  background-color: $primary-button;
  text-align: left;
  padding-left: 2rem;
  padding-left: 2rem;
  font-family: Lato-Regular;
  font-size: 16px;
  color: white;
  text-decoration: none;

  i {
    font-size: 2.25rem;
    padding-right: 1rem;
    vertical-align: middle;
  }
}

.btn-download-docs:hover {
  color: white;
}

.btn-download-docs:active {
  color: $primary-button;
  background-color: white;
  border-color: $primary-button;
}

.btn-login {
  border-radius: 8px;
  background-color: $selected-icon;
  font-family: RobotoSlab-Bold;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  display: inline-block;
}

.btn-login:hover {
  background-color: transparent;
  border-color: $selected-icon;
  color: $selected-icon;
}

.btn-landing {
  border-radius: 1rem;
  border: solid 1px #87b08d;
  background-color: #87bf48;
  font-family: RobotoSlab-Bold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  height: 4.5rem;
}

.btn-landing:hover {
  color: #87b08d !important;
  background-color: transparent !important;
  border: solid 1px #87bf48 !important;
}

.btn-landing:disabled {
  opacity: 1;
  border-color: #628367;
  background-color: #628367;
  color: whitesmoke;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-save {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
  width: 200px;
  height: 42px;
  border-radius: 4px;
  border: solid 1px $primary-button;
  background-color: $primary-button;
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: center;
  color: white;
  z-index: 2
}

.btn-save:hover {
  cursor: pointer;
  color: white;
}

.btn-clear:disabled {
  cursor: not-allowed;
  color: #3d7d41 !important;
}

.btn-save:disabled {
  cursor: not-allowed;
}
