// Color palette 
$primary-alert: #0030f0;
$registry-alert: #71c015;
$attention-alert: #A7A9E6;
$warning-alert: #f9c004;
$error-alert: #fc5663;
$confirmation-alert-border: #6c5a97;
$confirmation-alert-background: #e1deea;
$confirmation-button-background: #7b6ca2;
$Error-validation-icon: #e45e5e;
$Error-validation: #f15561;
$selected-icon: #463d6e;
$confirmation-button-alternative: #786da4;
$white: #ffffff;
$primary-button: #3d7d41;
$tertiary-button: #d7e5da;
$success-validation-border: #82be00;
$background: #fcfbff;
$card-border: #efecfa;
$almost-black: #0a0a0b;
$large-button: #dbd8e3;
$border-color: #d9d9d9;
$navbar-border: #f1f1f1;
$small-text: #6b648b;
$lead: #59507d;
// Base colors
$primary: $primary-button;
$secondary: $selected-icon;
$success: $registry-alert;
$info: $attention-alert;
$warning: $warning-alert;
$danger: $error-alert;
$dark: $almost-black;
$touched: #3394f5;
// Body
//
// Settings for the `<body>` element.
$body-bg: #FBFCFF;
$body-color: $almost-black;

//notificaciones
$succesrefacto: #bebebe;
