.logoNav {
  width: 160px;
}

label {
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
}

input {
  border-radius: 8px;
  border-width: 1px;
  border-color: $border-color;
  // border: solid 1px $border-color;
  background-color: $white;
}

.tooltip-inner {
  background-color: $confirmation-alert-background;
  font-family: 'Roboto-Regular', sans-serif;
  color: $small-text;
  font-size: 12px;
}

.bs-tooltip-bottom>.arrow::before {
  border-bottom-color: $confirmation-alert-background !important;
}
.bs-tooltip-top>.arrow::before {
  border-top-color: $confirmation-alert-background !important;
}

span.return-login {
  font-family: Roboto-Regular, sans-serif;
  color: $selected-icon;
  cursor: pointer;
}

.sidebar-nav li {
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;
}

.custom-select {
  border-radius: 4px;
  border: solid 1px $border-color;
  background-color: white;
  height: 40px;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;
}

.capitalize {
  text-transform: uppercase;
}

.ng-select.ng-input .ng-select-container,
.ng-select.ng-filter .ng-select-container,
.form-input {
  background-color: white;
  font-family: Roboto-Regular, sans-serif;
  font-size: 13px;
  color: $almost-black;
  min-height: 40px;
  border-radius: 4px;
  border: solid 1px $border-color;

}

ng-select.ng-activate >.ng-select-container{
  background-color: white;
  font-size: 13px;
  min-height: auto;
  width: 100%;
  padding: 1rem 0;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #f9f9f9;
}


.form-input:focus,
.form-input::after,
.form-input::before {
  opacity: 0.5;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;
}

.form-input::placeholder {
  text-transform: lowercase;
}

:placeholder-shown,
.custom-select option,
.custom-select:focus,
.custom-select::after,
.custom-select::before {
  opacity: 0.5;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;
}



.heading {
  h4 {
    font-family: RobotoSlab-Medium, sans-serif;
    font-size: 24px;
    color: $primary-button;
    margin-bottom: 0;
  }

  span {
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    color: $almost-black;
  }
}

.card {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px $card-border;
  background-color: white;
}

.table-overflow {
  min-width: 1366px;
  min-height: 250px;
}

.stats {
  margin: 2% 0;
  padding: 0 1%;
}
.custom-checkbox {
  padding: 0 !important;
  margin: 0 !important;
}

.card {
  //width: 85%;
  z-index: 1;

  &.w-100 {
    // min-width: 994px;
  }

  .card-body {
    .card-title {
      font-family: Roboto-Regular, sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: $selected-icon;
    }

    p.card-text {
      display: grid;
      vertical-align: middle;
      margin-bottom: 0;
    }

    .card-text {
      font-family: Roboto-Regular, sans-serif;
      font-size: 35px;
      font-weight: 500;
      text-align: center;
      color: $almost-black;

      small {
        font-family: Roboto-Light, sans-serif;
        font-size: 14px;
      }

      @media screen and (max-width: 1540px) {
        small {
          font-size: 12px;
        }
      }
    }
  }
}

.badge {
  font-size: .9rem;
  color: white;
  padding: .35rem .7rem;
  min-width: 50px;
}

.toggled .search-bar,
.toggled .navigation-pills {
  border: solid 1px #f1f1f1;
  position: absolute;
  background-color: white;
  left: 14px;
  top: 69px;
  width: 100%;
}

.toggled > .launcher-text {
  display: none;
}

.search-bar,
.navigation-pills {
  border: solid 1px #f1f1f1;
  position: absolute;
  background-color: white;
  width: 98vw;
  top: 69px;
  left: -1.6rem;
}

.search-bar {
  left: -1rem;
  z-index: 3;
}

.toggled .navigation-pills {
  left: 0;
  width: 100%;
}

.date-title {
  font-family: Roboto-Bold, sans-serif;
  font-size: 16px;
  color: #3d7d41
}

.card-chart {
  position: relative;
  height: 30vh;
}

.status-chart {
  position: relative;
  height: 11vw;
  margin-right: 9rem;
}

.donut-chart {
  position: relative;
  height: 8vw;
}

.chart-title {
  font-family: Roboto-Bold, sans-serif;
  font-size: 18px;
  color: $selected-icon;
  padding: 1%;
}

.highlight-link {
  color: $primary-button !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.table-title {
  font-family: Roboto-Bold, sans-serif;;
  font-size: 16px;
  color: $selected-icon;
  margin: 0.5%;
  padding-bottom: .5rem;
}

.graph,
.emision-table {
  overflow-y: auto;
  padding: 0 2%
}

.toggled .emision-table {
  margin-bottom: 12%;
}

.expand-contract-filter {
  margin-bottom: 25% !important;
}

.emision-table {
  margin-bottom: 10%;
}

.header {
  margin-top: 140px;
}

.empty-chart-icon {
  font-size: 5rem;
  color: $large-button;
}

.notification {
  position: fixed;
  z-index: 1;
  margin-left: 59vw;
}

.width-fix {
  width: 7vw;
}

thead {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #f4f3f5;
  font-family: Roboto-Medium, sans-serif;
  font-size: 13px;
  color: #6c5a97;
  text-transform: uppercase;
}

tbody tr:hover {
  background-color: #dbd8e3;
}

.card-header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
}

.card-footer {
  background-color: white;
}

.table-responsive {
  display: contents;
  position: relative;
  top: -4.5%;
  overflow: hidden;
  min-height: 400px
}

.no-contracts {
  height: 50vh;
  background-color: whitesmoke;
}

.no-contracts-text {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  letter-spacing: 0.19px;
  color: $selected-icon;
}

.center-data-missing {
  padding-top: 16vh;
}

.table-strech {
  padding: 0;
}

tbody {
  text-align: left;

  td {
    font-family: Roboto-Regular, sans-serif;
    font-size: 11px;
    color: #0a0a0b;
  }
}

.separator-title {
  color: #978db7;
}

.table-spacing {
  max-width: 175px;
}

.table {
  margin-bottom: -10px;
}

.dropdown-table {
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: $almost-black;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #eeeeee;

  .dropdown-item {
    padding-right: 5rem;
  }
}

.dropdown-menu {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #eeeeee;
  background-color: white;

}

.pagination {
  justify-content: center;
  padding-top: 1rem;

  .ngx-pagination {
    padding-left: 0;
    border-radius: 4px;
    border: solid 1px #b5adcc;
    background-color: white;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;

    a {
      color: #6c5a97;
      border-right: solid 1px #b5adcc;
    }

    .pagination-previous > a {
      border-right: solid 1px #b5adcc;
    }

    .pagination-next > a {
      border-right: solid 1px white;
    }

    a:hover,
    .current {
      background-color: $confirmation-alert-background;
      color: $selected-icon;
    }

    .current {
      border-right: solid 1px #b5adcc;
    }

    a:after,
    a:before,
    .disabled:after,
    .disabled:before {
      display: none !important;
    }
  }
}

.small-text {
  padding-top: .75rem !important;
  margin-left: 0 !important;
  opacity: 1 !important;
  font-family: Roboto-Regular, sans-serif !important;
  font-size: 12px !important;
  color: $small-text !important;
}

.gray-icon {
  background-color: #fcfbff;
  background-image: url(../assets/icons/wizard/wizard-process-icon-gray.svg);
  width: 20px;
  height: 20px;
}
.modal-ref{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenttext{
  margin-left: 30px;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}
.contentbtn{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal-ref-content{
  width: 40%;

  margin: 57px 97px 107px 35px;
  padding: 6px 68px 70px 4px;
  border-radius: 5px;
  background-color: #ffffff;
}
.modal-title {
  font-family: RobotoSlab-Medium, sans-serif;
  font-size: 20px;
  color: $primary-button;
}
.modal-title-ref {

  margin: 27px 0 0;
  font-family: RobotoSlab-Medium, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #5c5c5c;
}
.modal-subtitle-ref {

  margin: 27px 0 0;
  font-family: RobotoSlab-Medium, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #5c5c5c;
}

.btn-confirm{
  margin: 0 0 0 90px;
  padding: 13px 48px 15px 56px;
  border-radius: 7px;
  border: solid 1px #4a427f;
  background-color: #4a427f;
}
.btn-confirmcosto{
  padding: 10px 50px 10px 50px;
  margin: 0px 10px 0px 0px ;
  border-radius: 7px;
  border: solid 1px #4a427f;
  background-color: #4a427f;
}
.btn-confirm2{
  padding: 13px 48px 15px 56px;
  border-radius: 7px;
  border: solid 1px #4a427f;
  background-color: #4a427f;
}
.btn-des{
  border-radius: 7px;
  border: solid 1px #4a427f;
  background-color: #4a427f;
}
.btn-descargar{
  border-radius: 7px;
  background-color: #6AD88C;
}
.btn-eliminar{
  border-radius: 7px;
  background-color: #F66837;
}
.textconfirm{
  color: #ffffff;
}
.btn-cancelar{
  margin: 0 0 0 90px;
  padding: 13px 48px 15px 56px;
  border-radius: 7px;
  border: solid 1px #979797;
}

.modal-footer {
  border-top: 0;
}

.sidebar-right {
  background-color: white;
  height: 100%;
  border: solid 1px #f1f1f1;
  position: fixed;
  top: 5.1vh;
  right: 0;
  width: 20%;
}

.toggled .sidebar-right {
  background-color: white;
  height: 100%;
  border: solid 1px #f1f1f1;
  position: fixed;
  top: 5.4vh;
  right: 0;
  width: 20%;
}


.table-responsive .row {
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.date-title {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.displayNote {
  visibility: visible;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.hideNote {
  visibility: hidden;
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
}

ng-select.ng-select {
  display: grid !important;
}

.invoice-header {
  font-family: Roboto-Medium, sans-serif;
  font-size: 14px;
  color: #000;
  display: inline-flex;
}

.invoice-text {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  color: #212529;
}

.form-check-inline {
  margin-right: 3rem;

}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .25;
  }
  100% {
    opacity: 0;
  }
}

.toggled .arc {
  position: absolute;
  top: 17%;
  left: 42.5%;
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  border: .5rem solid;
  margin-bottom: -7vw;
}

.arc {
  position: absolute;
  top: 17%;
  left: 43.1%;
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  border: .5rem solid;
  margin-bottom: -7vw;
}

.filter-form {
  h6 {
    margin-bottom: 0;
  }

  label {
   // display: none;
  }
}

.modal:nth-of-type(even) {
  z-index: 1052 !important;
}


@media screen and (max-width: 2000px) {
  .navigation-pills {
    width: 88.5vw;
    left: 0;
  }
  .dynamic-container .navigation-pills {
    width: 96.6vw;
    left: -.2rem;
  }
  .search-bar {
    left: 0;
  }
  .search-bar,
  .navigation-pills {
    border: solid 1px #f1f1f1;
    position: absolute;
    background-color: white;
    width: 98.5vw;
    top: 69px;
    left: -1.6rem;
  }

  .donut-chart {
    height: 10vw;
  }
  .empty-chart-icon {
    font-size: 3rem;
  }

  .status-chart {
    margin-right: 6rem;
  }

  .toggled .arc {
    top: 17%;
    left: 39.5%;
    width: 8vw;
    height: 8vw;
  }
  .arc {
    top: 17%;
    left: 41%;
    width: 8vw;
    height: 8vw;
  }
}

.ng-select.ng-select-single .ng-select-container {
  height: 40px;
}

@media screen and (max-width: 1540px) {
  .empty-chart-icon {
    font-size: 5rem;
    color: $large-button;
  }
  .notification {
    position: fixed;
    z-index: 1;
    margin-left: 59vw;
  }
  .width-fix {
    width: 7vw;
  }
  thead {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #f4f3f5;
    font-family: Roboto-Medium, sans-serif;
    font-size: 13px;
    color: #6c5a97;
    text-transform: uppercase;
  }
  .card-header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: white;
  }
  .card-footer {
    background-color: white;
  }
  .table-responsive {
    display: contents;
    position: relative;
    top: -4.5%;
    overflow: hidden;
  }
  .no-contracts {
    height: 50vh;
    background-color: whitesmoke;
  }
  .no-contracts-text {
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    letter-spacing: 0.19px;
    color: $selected-icon;
  }
  .center-data-missing {
    padding-top: 16vh;
  }
  .table-strech {
    padding: 0;
  }
  tbody {
    text-align: left;

    td {
      font-family: Roboto-Regular, sans-serif;
      font-size: 11px;
      color: #0a0a0b;
    }
  }
  .separator-title {
    color: #978db7;
  }
  .table-spacing {
    max-width: 175px;
  }
  .table {
    margin-bottom: -10px;
  }
  a.dropdown-item:active {
    background-color: whitesmoke;
  }
  a.dropdown-item {
    cursor: pointer;
  }
  .dropdown-table {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: $almost-black;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #eeeeee;

    .dropdown-item {
      padding-right: 5rem;
    }
  }
  .dropdown-menu {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #eeeeee;
    background-color: white;
    width: 100%;
  }
 
  .pagination {
    justify-content: center;
    padding-top: 1rem;

    .ngx-pagination {
      padding-left: 0;
      border-radius: 4px;
      border: solid 1px #b5adcc;
      background-color: white;
      font-family: Roboto-Regular, sans-serif;
      font-size: 14px;

      a {
        color: #6c5a97;
        border-right: solid 1px #b5adcc;
      }

      .pagination-previous > a {
        border-right: solid 1px #b5adcc;
      }

      .pagination-next > a {
        border-right: solid 1px white;
      }

      a:hover,
      .current {
        background-color: $confirmation-alert-background;
        color: $selected-icon;
      }

      .current {
        border-right: solid 1px #b5adcc;
      }

      a:after,
      a:before,
      .disabled:after,
      .disabled:before {
        display: none !important;
      }
    }
  }
  .navigation-pills {
    width: 83.15vw;
  }
  .dynamic-container .navigation-pills {
    width: 97vw;
  }
  .search-bar {
    left: 2rem;
  }
  .sidebar-right {
    background-color: white;
    height: 100%;
    border: solid 1px #f1f1f1;
    position: absolute;
    top: 5.1vh;
    right: -1.2rem;
    width: 24%;
  }
  .toggled .sidebar-right {
    background-color: white;
    height: 100%;
    border: solid 1px #f1f1f1;
    position: absolute;
    top: 5.1vh;
    right: 0;
    width: 26%;
  }
  .search-bar,
  .navigation-pills {
    border: solid 1px #f1f1f1;
    position: absolute;
    background-color: white;
    width: 96vw;
    top: 69px;
    left: 1.4rem;
  }
  .donut-chart {
    height: 14vw;
  }
  .status-chart {
    margin-right: 3rem;
  }

  .toggled .arc {
    top: 16%;
    left: 39%;
    border-width: .35rem;
  }
  .arc {
    top: 16%;
    left: 40.5%;
    border-width: .35rem;
  }
}


@media screen and (max-width: 990px) {
  .toggled .arc {
    left: 31%;
    width: 12vw;
    height: 12vw;
  }
  .arc {
    left: 35%;
    width: 12vw;
    height: 12vw;
  }
}

@media (min-width: 576px) {
  .invoice-modal {
    max-width: 560px;
  }
}

