@font-face {
  font-family: 'Lato-Regular';
  src: url(../assets/font/Lato/lato-regular-webfont.woff2) format("woff2"), url(../assets/font/Lato/lato-regular-webfont.woff) format("woff"), url(../assets/font/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(../assets/font/Lato/lato-bold-webfont.woff2) format("woff2"), url(../assets/font/Lato/lato-bold-webfont.woff) format("woff"), url(../assets/font/Lato/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../assets/font/Roboto/roboto-regular-webfont.woff2) format("woff2"), url(../assets/font/Roboto/roboto-regular-webfont.woff) format("woff"), url(../assets/font/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(../assets/font/Roboto/roboto-medium-webfont.woff2) format("woff2"), url(../assets/font/Roboto/roboto-medium-webfont.woff) format("woff"), url(../assets/font/Roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../assets/font/Roboto/roboto-bold-webfont.woff2) format("woff2"), url(../assets/font/Roboto/roboto-bold-webfont.woff) format("woff"), url(../assets/font/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../assets/font/Roboto/roboto-light-webfont.woff2) format("woff2"), url(../assets/font/Roboto/roboto-light-webfont.woff) format("woff"), url(../assets/font/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab-ExtraLight';
  src: url(../assets/font/Roboto-slab/RobotoSlab-ExtraLight.woff2) format("woff2"), url(../assets/font/Roboto-slab/RobotoSlab-ExtraLight.woff) format("woff"), url(../assets/font/Roboto-slab/RobotoSlab-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url(../assets/font/Roboto-slab/RobotoSlab-Regular.woff2) format("woff2"), url(../assets/font/Roboto-slab/RobotoSlab-Regular.woff) format("woff"), url(../assets/font/Roboto-slab/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab-Medium';
  src: url(../assets/font/Roboto-slab/RobotoSlab-Medium.woff2) format("woff2"), url(../assets/font/Roboto-slab/RobotoSlab-Medium.woff) format("woff"), url(../assets/font/Roboto-slab/RobotoSlab-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url(../assets/font/Roboto-slab/RobotoSlab-Bold.woff2) format("woff2"), url(../assets/font/Roboto-slab/RobotoSlab-Bold.woff) format("woff"), url(../assets/font/Roboto-slab/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}


@font-face {
  font-family: 'RobotoSlab-Black';
  src: url(../assets/font/Roboto-slab/RobotoSlab-Black.woff2) format("woff2"), url(../assets/font/Roboto-slab/RobotoSlab-Black.woff) format("woff"), url(../assets/font/Roboto-slab/RobotoSlab-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
