.background-image {
  background: url(../assets/img/login/sprint.png) center center/cover no-repeat;
}

.main-head {
  height: 150px;
  background: #FFF;
}

.sidenav {
  height: 100%;
  background: url(../assets/img/login/sprint.png) center no-repeat;
  overflow-x: hidden;
  padding-top: 20px;

}

.main {
  padding: 0 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }
  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 0 60%;
    padding-left: 10%;
  }
  .sidenav {
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
  }
  .login-form {
    margin-top: 14vh;
  }
  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  font-family: Roboto-Light, sans-serif;
}

.login-form-group {
  margin-top: 5%;
}

.return-button {
  margin-top: 15%;
}

.return-img {
  vertical-align: middle;
  padding-right: 2%;
  cursor: pointer;
}

.reset-password {
  font-family: Roboto-Regular, sans-serif;
  color: #727272;
  font-size: 14px;
}

.login-input {
  border-radius: 8px;
  border: solid 1px $border-color;
  background-color: $white;
  height: 42px;
}

.restore-pass {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $selected-icon;
}

.new-pass {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $almost-black;
}
