<ngx-ui-loader></ngx-ui-loader>
<div class="main">
  <div class="col-6 col-sm-12">
    <div class="login-form">
      <img
        alt="Ejemplo"
        width="100px"
        height="100px"
        class="login-logo mx-auto d-block"
        src="{{ logoSrc }}"
      />
      <h2 class="text-center banner">{{ bannerEnv }}</h2>
      <form [formGroup]="form" class="login-form-group">
        <div class="form-group">
          <label for="inputEmail-signinComponent">Email</label>

          <div class="fiel-validate">
            <div class="field">
              <label
                for="inputEmail-signinComponent"
                style="display: none"
              ></label>
              <label
                for="inputEmail-signinComponent"
                style="display: none"
              ></label>
              <input
                autofocus
                class="form-control login-input"
                formControlName="email"
                id="inputEmail-signinComponent"
                placeholder="alguien@empresa.com"
                required
                type="email"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="fiel-validate">
            <label
              for="inputPassword-signinComponent"
              style="display: none"
            ></label>
            <div class="field">
              <input
                (keydown.enter)="action()"
                class="form-control login-input"
                formControlName="password"
                id="inputPassword-signinComponent"
                placeholder="Palabra Clave"
                required
                type="password"
              />
            </div>
          </div>
        </div>
        <button
          (click)="action()"
          class="btn btn-lg btn-primary btn-block"
          id="loginBtn-signinComponent"
          type="button"
        >
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
<div class="sidenav"></div>
