@import "../auth.component";


.return-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div {
    width: 21%;
  }
}

@media screen and (max-width: 1400px) {
  .return-button div {
    width: 22%;
  }
}
